:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primari-background-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primari-background-color);
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 0.03em;

  text-decoration: none;
  padding-top: 24px;
  

}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;
}
.list {
  list-style: none;
}

.web {
  color: var(--accent-color);
  
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  outline: 2px solid tomato;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section.no-padding {
  padding-top: 0;
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

header .container{
  display:flex;
}
header nav{
  display:flex;
}

.site-contact {
  text-decoration: none;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  

}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: var(--accent-color);
}
.section-hero {
  background-color: #2f303a;
  padding-bottom: 200px;
}
.section-hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primari-background-color);
  padding-top: 106px;
  padding-bottom: 30px;
}

.btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  margin: 0 auto;
  display: block;
}
.btn-portfolio-list {
  display: flex;
  margin-bottom: 50px;
}

.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
  height: 25px;
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}
.btn-portfolio-list .btn-portfolio{
  margin-right: 8px;
  height:38px;
  padding-right: 22px;
  padding-left: 22px;
}






.btn-portfolio:hover,
.btn-portfolio:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.quality {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.quality-discription {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
.work-heading,
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
/* секція команда */
.section-team {
  background-color: #f5f4fa;
}

.face {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
}
.face-position {
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
}
/* зкидання left padding для ul у футері */
.footer-contact-list.list {
  padding-left: 0px;
}

.footer-contact-map {
  /* перекриває adress */
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: #ffffff;
  padding-bottom: 9px;
}
.footer-contact-mailtel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  color: var(--secondary-text-color);
  padding-bottom: 9px;
}
.footer-contact-mailtel.nopadding {
  padding-bottom: 0px;
}
.footer-contact-map:hover,
.footer-contact-mailtel:hover,
.footer-contact-map:focus,
.footer-contact-mailtel:focus {
  color: var(--accent-color);
}
